body{
    background-color: beige;
}

.tab {
    text-align: center;
    border: 1px flex;
}

.tab button {
    background-color: inherit;
    border: flex;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: cyan;
}

.tab button.active {
    background-color: cyan;
}

.tabcontent {
    text-align: center;
    padding: 1rem;
    border: 1px dotted #ccc;
}
