body{
    background-image: url("resources/GPTFK8-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    text-align: center;
    color:bisque
}

.boxcontent {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1.5px dotted whitesmoke;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.repoBox {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1.5px dotted whitesmoke;
}
.repoList {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(220px, 1fr));
    list-style: none;
}

.aboutList {
    list-style-type: none;
    padding-left: 0;
}
.aboutInfo {
    list-style-type: none;
}

.repoLink {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.repoLink:hover {
   background-color: #e0e0e0;
    color: #000;
}


.repoDescription {
    margin-top: 0.5rem;
    font-size: 1rem;
}