body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem 1rem;
}

@media print { .repos, section {
    break-inside: avoid;
    page-break-inside: avoid;
  }
h2 {
    break-before: auto;
  }
}

.header {
  margin-bottom: 2rem;
}

.header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

.title {
  color: #197c00;
  font-weight: bold;
}

.subtitle {
  color: #212d3d;
}

.contact {
  margin-top: 0.5rem;
}

.contact p {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 1rem;
}

.contact a {
  color: #38bdf8;
}

.contact-label {
  color: #173f77;
  font-weight: bold;
  white-space: nowrap;
}

.contact img {
  height: 200px;
  border-radius: 10px;
  float: right;
  margin-right: 6rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 1px solid #0e1620;
  color: #173f77;
  padding-bottom: 0.5rem;
}

h3 {
color: #173f77;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  background: #c3c9d4;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  padding: 1rem;
  border: 2px dotted #1e293b;
  border-radius: 0.5rem;
}

.card a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

.job {
  margin-bottom: 1rem;
}

.jobHeader {
  display: flex;
  justify-content: space-between;
}

.company {
  color: #1f3452;
}

.meta {
  color: #0d213d;
  font-size: 0.9rem;
}

#experienceList h4 {
text-align: center;
}

#educationList h4 {
text-align: center;
}